### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [3]:
PlayerCount = len(purchase_data["SN"].unique())
playercount_pd = pd.DataFrame({"Player Count": [PlayerCount]})
playercount_pd

   Player Count
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
UniqueItems=len(purchase_data["Item Name"].unique())
AveragePrice=purchase_data["Price"].mean()
NumberPurchase=len(purchase_data["Item Name"])
RevenuePurchase=purchase_data["Price"].sum()

Summary_pd=pd.DataFrame({"UniqueItems":[UniqueItems],"Average Price":[AveragePrice],"NumberPurchase":[NumberPurchase],
                         "Total Revenue":[RevenuePurchase]})
Summary_pd["Average Price"]=Summary_pd["Average Price"].map("${:.2f}".format)
Summary_pd["Total Revenue"]=Summary_pd["Total Revenue"].map("${:.2f}".format)
Summary_pd

   UniqueItems Average Price  NumberPurchase Total Revenue
0          179         $3.05             780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
CountMale=purchase_data["Gender"].value_counts()['Male']

CountFemale=purchase_data["Gender"].value_counts()['Female']

CountOther=purchase_data["Gender"].value_counts()['Other / Non-Disclosed']

TotalGender=purchase_data["Gender"].count()

PercentMale=(CountMale/TotalGender)*100
PercentFemale=(CountFemale/TotalGender)*100
PercentOther=(CountOther/TotalGender)*100

gender_pd=pd.DataFrame({"": ['Male', 'Female', 'Other/Non-Disclosed'],
                            "Percentage of Players": [PercentMale, PercentFemale, PercentOther],
                            "Total Count": [CountMale, CountFemale, CountOther]})

gender_pd["Percentage of Players"]=gender_pd["Percentage of Players"].map("{:.2f}%".format)
gender_pd

                       Percentage of Players  Total Count
0                 Male                83.59%          652
1               Female                14.49%          113
2  Other/Non-Disclosed                 1.92%           15


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
#Groupby gender
gender_stats=purchase_data.groupby(["Gender"])
# Count the total purchases by gender
purchase_count = gender_stats["Purchase ID"].count()
# Average purchase prices by gender
avg_purchase_price = gender_stats["Price"].mean()
# Average purchase total by gender
avg_purchase_total = gender_stats["Price"].sum()
#Average purchase total by gender divivded by purchase count by unique shoppers
avg_purchase_per_person = avg_purchase_total/TotalGender
# Create data frame with obtained values
gender_demographics = pd.DataFrame({"Purchase Count": purchase_count,
                                    "Average Purchase Price": avg_purchase_price,
                                    "Average Purchase Value":avg_purchase_total,
                                    "Avg Purchase Total per Person": avg_purchase_per_person})
# Provide index in top left as "Gender"
gender_demographics.index.name = "Gender"
# Format with currency style
gender_demographics.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [9]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
# Segment and sort age values into bins established above
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)
purchase_data
# Create new data frame with the added "Age Group" and group it
age_grouped = purchase_data.groupby("Age Group")
# Count total players by age category
total_count_age = age_grouped["SN"].nunique()
# Calculate percentages by age category
percentage_by_age =(total_count_age/PlayerCount) * 100
# Create data frame with obtained values
age_demographics = pd.DataFrame({"Total Count": total_count_age,"Percentage of Players": percentage_by_age})
# Format the data frame with no index name in the corner
age_demographics.index.name = None
# Format percentage with two decimal places
age_demographics.style.format({"Percentage of Players":"{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
# Count purchases by age group
purchase_count_age = age_grouped["Purchase ID"].count()
# Obtain average purchase price by age group
avg_purchase_price_age = age_grouped["Price"].mean()
# Calculate total purchase value by age group
total_purchase_value = age_grouped["Price"].sum()
# Calculate the average purchase per person in the age group
avg_purchase_per_person_age = total_purchase_value/total_count_age
# Create data frame with obtained values
age_demographics = pd.DataFrame({"Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total per Person": avg_purchase_per_person_age,
                                 "Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price_age})
# Format the data frame with no index name in the corner
age_demographics.index.name = None
# Format with currency style
age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [16]:
# Group purchase data by screen names
spender_stats = purchase_data.groupby("SN")
# Count the total purchases by name
purchase_count_spender = spender_stats["Purchase ID"].count()
# Calculate the average purchase by name
avg_purchase_price_spender = spender_stats["Price"].mean()
# Calculate purchase total
purchase_total_spender = spender_stats["Price"].sum()
# Create data frame with obtained values
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})
# Sort in descending order to obtain top 5 spender names
formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head(10)
# Format with currency style
formatted_spenders.style.format({"Average Purchase Price":"${:,.2f}",
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [17]:
# Create new data frame with items related information
items = purchase_data[["Item ID", "Item Name", "Price"]]
# Group the item data by item id and item name
item_stats = items.groupby(["Item ID","Item Name"])
# Count the number of times an item has been purchased
purchase_count_item = item_stats["Price"].count()
# Calcualte the purchase value per item
purchase_value = (item_stats["Price"].sum())
# Find individual item price
item_price = purchase_value/purchase_count_item
# Create data frame with obtained values
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item,
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})
# Sort in descending order to obtain top spender names and provide top 5 item names
popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head(10)
# Format with currency style
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [18]:
popular_formatted = most_popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head(10)

popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})